<script>
    function Calendar()
    {
        $(".date").datepicker({ dateFormat: "dd-mm-yy" });
    }
    $(document).ready(Calendar)
</script>
<form action="~/reports/processPayment" method="post">
    <input type="text" name="startDate" class="date"/>
    <input type="text" name="endDate" class="date" />
    <input type="submit" value="TAMAM" />
</form>
