
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form action="~/home/checklogin" method="post">
        <input type="text" name="userName" placeholder="Kullanıcı adınızı giriniz..."/>
        <input type="password" name="password" placeholder="Şifre"/>
        <input type="submit" value="Log In" />
    </form>
    @if (ViewData["error"] != null)   
    {
    <p>@ViewData["error"]</p>
    }
</body>
</html>
